/*navBar*/
body {
    background-color: #ffffff;
}

html {
    width: 100%;
}
.navBar {
    background-color: #ffffff;
}

#header-nav {
    border-radius: 0;
    margin: 0;
    background-color: yellow;

}

.navigationMenu {
    text-align: center;
}

header {
    margin: 0;
}

#navbarBrand {
    width: 100%;
    position: relative;
    text-align: center;
    color: #076e9f;
    font-size: 32px;
    font-family: 'League Gothic';
}

.brandLetter {

    color: #22aaec;
}

.icon {
    right: 30px;
    position: absolute;
}

.buttMenu {
    padding-top: 3px;
    background-color: #ffffff;
    color: #9b9b9b;
    font-family: ' Arial', sans-serif;
    font-size: 10px;
    border-radius: 0;
    width: 63px;
    height: 21px;
}

.active {
    background-color: #0772a3;
    color: white;
}

/* end navBar*/
/*section 1*/


#blocBar {
    z-index: 1;
    bottom: 0;
    position: absolute;
    height: 120px;
    width: 1020px;
    background-color: rgba(0, 0, 0, 0.5);
}

#mainBaner {

    text-align: center;
    width: 288px;
    height: 81px;
    background-color: rgba(255, 255, 255, 0.61);
    z-index: 1;
    margin: auto;

}

#mainBanerTwo {
    text-align: center;
    width: 778px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.61);
    z-index: 1;
    margin: auto;
}

p#nameMainBanerFirst {

    font-size: 60px;
    color: #076e9f;
    font-family: 'League Gothic';
}

p#nameMainBanerSecond {

    font-size: 30px;
    color: #076e9f;
    font-family: 'League Gothic';
}

#blockNotice {
    z-index: 2;
    position: absolute;
    bottom: 0;
    width: inherit;
    padding-left: 46px;
    padding-bottom: 26px;
}
.notice {
    padding: 0;
    float: left;
    z-index: 3;
    margin-right: 46px;
    top: 0;
    height: 69px;
    width: 191px;
    background: #ebebea;
    border-top-left-radius: 50px 50px;
    border-bottom-left-radius: 50px 50px;
}

#posMainBanerFirst {
    top: 91px;
    position: absolute;
    width: 100%;
}

#posMainBanerSecond {
    top: 190px;
    position: absolute;
    width: 100%;
}

/*fddgmdmgg*/

#blockOne {
    background-color: yellow;
}

#blockTwo {
    background-color: #8eff2e;
}

/*end section 1*/
/*start section 2*/
/*POSITION OF BLOCKS*/
/*#sectionTwo{*/

/*height: 565px;*/
/*background-color: yellow;*/
/*}*/
/*#leftColumn {*/
/*padding: 0 0 0 36px;*/
/*background: red;*/
/*height: 564px;*/
/*width: 235px;*/
/*}*/

/*#meinColumn {*/
/*z-index: 4;*/
/*margin-right: 37px;*/
/*margin-top: -10px;*/
/*height: 575px;*/
/*width: 748px;*/
/*background: green;*/
/*padding: 0;*/
/*}*/

/*#leftColumnFirst {*/
/*height: 172px;*/
/*width: auto;*/
/*background: palevioletred;*/
/*margin: 0;*/
/*}*/

/*#leftColumnSecond {*/
/*height: 222px;*/
/*width: auto;*/
/*background: palegreen;*/
/*}*/

/*#meinColumn1 {*/
/*height: 199px;*/
/*width: auto;*/
/*background: #109796;*/
/*margin: 0;*/
/*}*/

/*#meinColumn2 {*/
/*height: 375px;*/
/*width: auto;*/
/*background: #0c1c97;*/
/*margin: 0;*/
/*padding-top: 10px;*/
/*padding-left: 10px;*/
/*}*/

/*.infoBlock {*/
/*background-color: pink;*/
/*margin-left: 20px;*/
/*width: 362px;*/
/*height: 213px;*/
/*}*/

/*#baner {*/
/*background-color: black;*/
/*height: 83px;*/
/*}*/
/*END POSITION OF BLOCKS*/

/*end section 2*/
@media (min-width: 1200px) {
    * {
        box-sizing: border-box;
    }
    /*DSFSDGDS*/
    #section2 {
        position: relative;
        background-color: #FFFFFF;
        width: 100%;
        height: 567px;

    }

    #blockOne {
        padding-top: 15px;
        background-color: #FFFFFF;
        width: 272px;
        height: 567px;
    }

    /*center block*/
    #centerBlock {
        position: absolute;
        background-color: #FFFFFF;
        right: 35px;
        height: 577px;
        bottom: 0;
        left: 273px;
        z-index: 6;
    }

    #mainPost {
        position: relative;
        padding: 30px 0px 51px 12px;
        height: 198px;
        background-color: #ffffff;
        border-right: 1px dotted #d5d5d5;
        border-bottom: 1px dotted #d5d5d5;
        border-left: 1px dotted #d5d5d5;
    }

    h2#mainPosHeading {
        font-family: 'League Gothic Condensed', sans-serif;
        font-size: 42px;
        color: #076e9f;
        margin: 0 17px 0 0;

    }

    #centerInfoBlock {
        position: relative;
        background-color: #ffffff;
        margin-bottom: 0px;
    }

    #postMeta {
        left: 0;
        position: absolute;
        background-color: #ffffff;
        width: 112px;
    }

    #postText {
        position: absolute;
        left: 130px;
        font-family: " Arial", sans-serif;
        font-size: 13px;
        color: #696969;
        text-align: left;
        width: 700px;
        height: 120px;
        background-color: #ffffff;
    }

    #mainBtn {
        font-family: " Arial", sans-serif;
        font-weight: bold;
        font-size: 10px;
        color: #ffffff;
        width: 72px;
        height: 23px;
        background-color: #0773a4;
        border-radius: 0;
        margin-top: 25px;
        box-shadow: 0 4px 1px -1px #00141e;

    }

    #fotterPostMeta {
        position: absolute;
        right: -5px;
        bottom: 12px;
        width: 179px;
        margin-left: 849px;

    }

    /*end center block*/
    /*Second main senter post*/
    #secondCenterPost {
        border-bottom: 1px dotted #d5d5d5;
        background-color: #FFFFFF;
        width: inherit;
        height: 379px;
        padding-right: 0;
    }

    .cardMain {

        margin-right: 0;
        background-color: #eaeaea;
        width: 363px;
        height: 215px;
        margin-left: 17px;
        margin-top: 22px;
        border-top-left-radius: 10px 10px;
        border-bottom-left-radius: 10px 10px;
        border-bottom-right-radius: 10px 10px;
    }

    #ban {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.51);
        margin-top: 32px;
        background-color: #eaeaea;
        width: 743px;
        margin-left: 17px;
        height: 83px;
        border-bottom-left-radius: 10px 10px;
        border-bottom-right-radius: 10px 10px;
    }

    #ban p {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 12px;
        color: #5c5c5c;
        margin-top: 30px;
    }

    #card1 {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.51);
        position: relative;
        padding: 0;
    }

    #card2 {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.51);
        position: relative;
        padding: 0;
    }

    #card1Info {

        position: relative;
        margin: 0;
        bottom: 0;
        background-color: #f4f3f3;
        position: absolute;
        width: inherit;
        height: 34px;
        border-bottom-left-radius: 10px 10px;
        border-bottom-right-radius: 10px 10px;
    }

    #card1 h2 {
        margin-top: 15px;
        margin-left: 27px;
        font-family: 'League Gothic', sans-serif;
        font-size: 25px;
        color: #257faa;
        margin-bottom: 7px;

    }

    #card2 h2 {
        margin-top: 15px;
        margin-left: 27px;
        font-family: 'League Gothic', sans-serif;
        font-size: 25px;
        color: #257faa;
        margin-bottom: 7px;

    }

    .txt {
        width: 259px;
        text-align: left;
        margin-left: 27px;
        font-size: 10px;
        font-family: Arial, sans-serif;
        color: #5c5c5c;
        margin-bottom: 10px;
    }

    #icon {
        position: absolute;
        bottom: 5px;
        right: 10px;
    }

    #icon2 {
        position: absolute;
        bottom: 5px;
        right: 10px;
    }

    .colorLetter {
        color: #6092b3;
    }

    #card2Info {
        margin: 0;
        bottom: 0;
        background-color: #f4f3f3;
        height: 34px;
        position: absolute;
        width: inherit;
        border-bottom-left-radius: 10px 10px;
        border-bottom-right-radius: 10px 10px;
    }

    /*END Second main senter post*/
    /*endDSFSDGDS*/
    /*fddgdg*/
    #main-content {
        position: relative;
        padding: 2px 0px 0px 0px;
        z-index: 1;
        background-color: #22aaec;
        width: 100%;
        height: 570px;
        text-align: center;
    }

    .imageMain {
        width: inherit;
        height: 566px;
        background-image: url("../images/main-img2x.png");
    }

    #blocBar {

        z-index: 1;
        bottom: 0;
        position: absolute;
        height: 120px;
        width: inherit;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #mainBaner {

        width: 288px;
        height: 81px;
        background-color: rgba(255, 255, 255, 0.61);
        z-index: 1;
        margin: auto;

    }

    #navbarBrand {
        font-size: 64px;
        font-family: 'League Gothic';
    }

    .buttMenu {
        font-size: 15px;
        width: 90px;
        height: 30px;
    }

    .noticeImg {
        height: 94px;

    }

    #blockNotice {
        z-index: 2;
        position: absolute;
        bottom: 0;
        width: inherit;
        padding-left: 46px;
        padding-bottom: 15px;
    }

    .notice {
        text-align: left;
        background: #ebebea;
        height: 94px;
        width: 259px;
    }

    /*left block*/
    #itemOne {
        height: 165px;
        background-color: #ffffff;
    }

    #itemTwo {
        height: 225px;
        background-color: #ffffff;
    }

    #itemThree {
        height: 162px;
        background-color: #FFFFFF;
    }

    .nameItem {
        font-family: 'League Gothic Condensed';
        color: #076e9f;
        width: 222px;
        padding: 19px 17px 0 0;
        margin: 0 0 0 36px;
        border-right: 1px dotted #d5d5d5;
        border-bottom: 1px dotted #d5d5d5;
    }

    .nameItem h2 {
        margin: 0;
        margin-bottom: 6px;

    }

    #sidebarDescription {
        text-align: left;
        color: #5c5c5c;
        font-size: 10px;
        font-family: Arial, sans-serif;
    }

    .letter {
        color: #076e9f;
        font-family: Arial, sans-serif;
        font-weight: bold;
    }

    .relatedPostImg {
        margin-top: 11px;
        width: 50px;
        height: 40px;
    }

    #post1 {
        position: relative;
        width: 164px;
    }

    #post2 {
        position: relative;
        width: 164px;
    }

    #post3 {
        position: relative;
        width: 164px;
    }

    .post1Name {

        font-family: Arial, sans-serif;
        font-weight: bold;
        font-size: 10px;
        color: #5c5c5c;
        position: absolute;
        right: 0;
    }

    .post1Name1 {
        position: absolute;
        top: 14px;
        right: 16px;
    }

    .comments {
        font-family: Arial, sans-serif;
        font-size: 10px;
        font-style: italic;
        color: #5c5c5c;;
        margin-left: 2px;
    }

    #post1Img {
        left: 0;
        position: absolute;
        width: 50px;
        height: 40px;
    }

    #post2Img {
        left: 0;
        position: absolute;
        width: 50px;
        height: 40px;
    }

    #post3Img {
        left: 0;
        position: absolute;
        width: 50px;
        height: 40px;
    }

    .tableInfo {
        border-collapse: collapse;
    }

    .tableInfo th {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 10px;
        background-color: #076e9f;
        color: #ffffff;
    }

    .cell {
        background-color: #c7e9fa;
        width: 40px;
        height: 19px;
        text-align: center;
        color: #5e9abe;
        font-family: Arial, sans-serif;
        font-size: 10px;
    }

    .cellBlue {
        background-color: #b1e1f8;
    }

    table, td, th {
        border: 1px solid #ffffff;
    }


    /*end left block*/
    /*#meinColumn {*/
    /*z-index: 4;*/
    /*margin-right: 37px;*/
    /*margin-top: -10px;*/
    /*height: 575px;*/
    /*width: 896px;*/
    /*background: green;*/
    /*}*/
    /*#leftColumn {*/
    /*height: 564px;*/
    /*width: 275px;*/
    /*}*/
}

@media (min-width: 992px)and (max-width: 1199px) {
    /*center block*/
    #centerBlock {
        position: absolute;
        background-color: deeppink;
        right: 35px;
        height: 577px;
        bottom: 0;
        left: 273px;
        z-index: 6;
    }

    #mainPost {
        position: relative;
        padding: 30px 0px 51px 12px;
        height: 198px;
        background-color: #ffffff;
        border-right: 1px dotted #d5d5d5;
        border-bottom: 1px dotted #d5d5d5;
        border-left: 1px dotted #d5d5d5;
    }

    h2#mainPosHeading {
        font-family: 'League Gothic Condensed', sans-serif;
        font-size: 42px;
        color: #076e9f;
        margin: 0 17px 0 0;

    }

    #centerInfoBlock {
        position: relative;
        background-color: #ffffff;
        margin-bottom: 0px;
    }

    #postMeta {
        left: 0;
        position: absolute;
        background-color: #ffffff;
        width: 112px;
    }

    #postText {
        position: absolute;
        left: 130px;
        font-family: " Arial", sans-serif;
        font-size: 10px;
        color: #696969;
        text-align: left;
        width: 616px;
        height: 120px;
        background-color: #FFFFFF;
    }

    #mainBtn {
        font-family: " Arial", sans-serif;
        font-weight: bold;
        font-size: 10px;
        color: #ffffff;
        width: 72px;
        height: 23px;
        background-color: #0773a4;
        border-radius: 0;
        margin-top: 25px;
        box-shadow: 0 4px 1px -1px #00141e;

    }

    #fotterPostMeta {
        position: absolute;
        right: -5px;
        bottom: 12px;
        width: 179px;
        margin-left: 849px;

    }

    /*end center block*/
    /*DSFSDGDS*/
    #section2 {
        position: relative;
        background-color: pink;
        width: 100%;
        height: 567px;

    }

    #blockOne {

        background-color: #FFFFFF;
        width: 272px;
        height: 567px;
    }

    #centerBlock {
        position: absolute;
        background-color: deeppink;
        right: 35px;
        height: 577px;
        bottom: 0;
        left: 273px;
        z-index: 6;
    }

    /*endDSFSDGDS*/


    #main-content {
        position: relative;
        padding: 2px 0px 0px 0px;
        z-index: 1;
        background-color: #22aaec;
        width: 100%;
        height: 515px;

    }

    .imageMain {
        width: inherit;
        height: 515px;
        background-image: url("../images/main-img1_5.png");
    }

    #blocBar {
        z-index: 1;
        bottom: 0;
        position: absolute;
        height: 120px;
        width: inherit;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #mainBaner {

        width: 288px;
        height: 81px;
        background-color: rgba(255, 255, 255, 0.61);
        z-index: 1;
        margin: auto;

    }

    #blockNotice {
        z-index: 2;
        position: absolute;
        bottom: 0;
        width: inherit;
        padding-left: 30px;
        padding-bottom: 26px;
    }

    .notice {
        text-align: left;
        background: #ebebea;
        height: 69px;
        width: 189px;
    }

    /*left block*/
    #itemOne {
        height: 165px;
        background-color: #ffffff;
    }

    #itemTwo {
        height: 225px;
        background-color: #ffffff;
    }

    #itemThree {
        height: 177px;
        background-color: #ffffff;
    }

    .nameItem {
        font-family: 'League Gothic Condensed';
        color: #076e9f;
        width: 236px;
        padding: 19px 17px 0 0;
        margin: 0 0 0 36px;
        border-right: 1px dotted #d5d5d5;
        border-bottom: 1px dotted #d5d5d5;
    }

    .nameItem h2 {
        margin: 0;
        margin-bottom: 6px;

    }

    #sidebarDescription {
        text-align: left;
        color: #5c5c5c;
        font-size: 10px;
        font-family: Arial, sans-serif;
    }

    .letter {
        color: #076e9f;
        font-family: Arial, sans-serif;
        font-weight: bold;
    }

    .relatedPostImg {
        margin-top: 11px;
        width: 50px;
        height: 40px;
    }

    #post1 {
        position: relative;
        width: 164px;
    }

    #post2 {
        position: relative;
        width: 164px;
    }

    #post3 {
        position: relative;
        width: 164px;
    }

    .post1Name {

        font-family: Arial, sans-serif;
        font-weight: bold;
        font-size: 10px;
        color: #5c5c5c;
        position: absolute;
        right: 0;
    }

    .post1Name1 {
        position: absolute;
        top: 14px;
        right: 16px;
    }

    .comments {
        font-family: Arial, sans-serif;
        font-size: 10px;
        font-style: italic;
        color: #5c5c5c;;
        margin-left: 2px;
    }

    #post1Img {
        left: 0;
        position: absolute;
        width: 50px;
        height: 40px;
    }

    #post2Img {
        left: 0;
        position: absolute;
        width: 50px;
        height: 40px;
    }

    #post3Img {
        left: 0;
        position: absolute;
        width: 50px;
        height: 40px;
    }

    .tableInfo {
        border-collapse: collapse;
    }

    .tableInfo th {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 10px;
        background-color: #076e9f;
        color: #ffffff;
    }

    .cell {
        background-color: #c7e9fa;
        width: 40px;
        height: 19px;
        text-align: center;
        color: #5e9abe;
        font-family: Arial, sans-serif;
        font-size: 10px;
    }

    .cellBlue {
        background-color: #b1e1f8;
    }

    table, td, th {
        border: 1px solid #ffffff;
    }

    /*end left block*/
    /*#meinColumn {*/
    /*z-index: 4;*/
    /*margin-right: 37px;*/
    /*margin-top: -10px;*/
    /*height: 575px;*/
    /*width: 896px;*/
    /*background: green;*/
    /*}*/
    /*#leftColumn {*/
    /*height: 564px;*/
    /*width: 275px;*/
    /*}*/
}

@media (min-width: 768px)and (max-width: 991px) {
    /*center block*/
    #centerBlock {
        position: absolute;
        background-color: deeppink;
        right: 35px;
        height: 577px;
        bottom: 0;
        left: 273px;
        z-index: 6;
    }

    #mainPost {
        position: relative;
        padding: 30px 0px 51px 12px;
        height: 198px;
        background-color: #ffffff;
        border-right: 1px dotted #d5d5d5;
        border-bottom: 1px dotted #d5d5d5;
        border-left: 1px dotted #d5d5d5;
    }

    h2#mainPosHeading {
        font-family: 'League Gothic Condensed', sans-serif;
        font-size: 32px;
        color: #076e9f;
        margin: 0 17px 0 0;

    }

    #centerInfoBlock {
        position: relative;
        background-color: #ffffff;
        margin-bottom: 0px;
    }

    #postMeta {
        left: 0;
        position: absolute;
        background-color: #ffffff;
        width: 112px;
    }

    #postText {
        position: absolute;
        left: 130px;
        font-family: " Arial", sans-serif;
        font-size: 10px;
        color: #696969;
        text-align: left;
        width: 270px;
        height: 100px;
        background-color: #FFFFFF;
    }

    #mainBtn {
        font-family: " Arial", sans-serif;
        font-weight: bold;
        font-size: 10px;
        color: #ffffff;
        width: 72px;
        height: 23px;
        background-color: #0773a4;
        border-radius: 0;
        margin-top: 15px;
        box-shadow: 0 4px 1px -1px #00141e;

    }

    #fotterPostMeta {
        position: absolute;
        right: -5px;
        bottom: 6px;
        width: 159px;
        margin-left: 849px;

    }

    #fotoMeta {
        width: 159px;
    }

    /*end center block*/
    /*DSFSDGDS*/
    /*DSFSDGDS*/
    #section2 {
        position: relative;
        background-color: pink;
        width: 100%;
        height: 567px;

    }

    #blockOne {

        background-color: #FFFFFF;
        width: 272px;
        height: 567px;
    }

    #centerBlock {
        position: absolute;
        background-color: deeppink;
        height: 577px;
        bottom: 0;
        right: 35px;
        left: 273px;
        z-index: 6;
    }

    /*endDSFSDGDS*/
    /*endDSFSDGDS*/
    .navigationMenu {
        text-align: center;
    }
    #blockNotice {
        z-index: 2;
        position: absolute;
        bottom: 0;
        width: inherit;
        padding-left: 46px;
        padding-bottom: 26px;
    }

    .notice {
        margin-right: 30px;
        float: left;
        height: 52px;
        width: 145px;

    }

    #navbarBrand {
        width: 100%;
        position: relative;
        text-align: center;
        color: #076e9f;
        font-size: 32px;
        font-family: 'League Gothic';
    }

    #navbarBrand {

    }
    .noticeImg {
        height: 52px;
    }
    #main-content {
        position: relative;
        padding: 2px 0px 0px 0px;
        z-index: 1;
        background-color: #22aaec;
        width: 100%;
        height: 435px;


    }

    #blocBar {
        z-index: 1;
        bottom: 0;
        position: absolute;
        height: 120px;
        width: inherit;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #mainBaner {

        width: 252px;
        height: 71px;
        background-color: rgba(255, 255, 255, 0.61);
        z-index: 1;
        margin: auto;

    }

    #mainBanerTwo {
        width: 645px;
        height: 37px;
        background-color: rgba(255, 255, 255, 0.61);
        z-index: 1;
        margin: auto;
    }

    #posMainBanerFirst {
        top: 91px;
        position: absolute;
        width: 100%;
    }

    #posMainBanerSecond {
        top: 190px;
        position: absolute;
        width: 100%;
    }
    .imageMain {
        width: inherit;
        height: 435px;

    }

    p#nameMainBanerFirst {

        font-size: 55px;
        color: #076e9f;
        font-family: 'League Gothic';
    }

    p#nameMainBanerSecond {

        font-size: 25px;
        color: #076e9f;
        font-family: 'League Gothic';
    }

    /*left block*/
    #itemOne {
        height: 165px;
        background-color: #ffffff;
    }

    #itemTwo {
        height: 225px;
        background-color: #ffffff;
    }

    #itemThree {
        height: 177px;
        background-color: #ffffff;
    }

    .nameItem {
        font-family: 'League Gothic Condensed';
        color: #076e9f;
        width: 236px;
        padding: 19px 17px 0 0;
        margin: 0 0 0 36px;
        border-right: 1px dotted #d5d5d5;
        border-bottom: 1px dotted #d5d5d5;
    }

    .nameItem h2 {
        margin: 0;
        margin-bottom: 6px;

    }

    #sidebarDescription {
        text-align: left;
        color: #5c5c5c;
        font-size: 10px;
        font-family: Arial, sans-serif;
    }

    .letter {
        color: #076e9f;
        font-family: Arial, sans-serif;
        font-weight: bold;
    }

    .relatedPostImg {
        margin-top: 11px;
        width: 50px;
        height: 40px;
    }

    #post1 {
        position: relative;
        width: 164px;
    }

    #post2 {
        position: relative;
        width: 164px;
    }

    #post3 {
        position: relative;
        width: 164px;
    }

    .post1Name {

        font-family: Arial, sans-serif;
        font-weight: bold;
        font-size: 10px;
        color: #5c5c5c;
        position: absolute;
        right: 0;
    }

    .post1Name1 {
        position: absolute;
        top: 14px;
        right: 16px;
    }

    .comments {
        font-family: Arial, sans-serif;
        font-size: 10px;
        font-style: italic;
        color: #5c5c5c;;
        margin-left: 2px;
    }

    #post1Img {
        left: 0;
        position: absolute;
        width: 50px;
        height: 40px;
    }

    #post2Img {
        left: 0;
        position: absolute;
        width: 50px;
        height: 40px;
    }

    #post3Img {
        left: 0;
        position: absolute;
        width: 50px;
        height: 40px;
    }

    .tableInfo {
        border-collapse: collapse;
    }

    .tableInfo th {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 10px;
        background-color: #076e9f;
        color: #ffffff;
    }

    .cell {
        background-color: #c7e9fa;
        width: 40px;
        height: 19px;
        text-align: center;
        color: #5e9abe;
        font-family: Arial, sans-serif;
        font-size: 10px;
    }

    .cellBlue {
        background-color: #b1e1f8;
    }

    table, td, th {
        border: 1px solid #ffffff;
    }

    /*end left block*/
    /*#meinColumn {*/
    /*z-index: 4;*/
    /*margin-right: 37px;*/
    /*margin-top: -10px;*/
    /*height: 575px;*/
    /*width: 660px;*/
    /*background: green;*/
    /*}*/
}

@media (max-width: 767px) {
    /*center block*/
    #centerBlock {
        position: absolute;
        background-color: deeppink;
        right: 35px;
        height: 577px;
        bottom: 0;
        left: 273px;
        z-index: 6;
    }

    #mainPost {
        position: relative;
        padding: 30px 0px 51px 12px;
        height: 198px;
        background-color: #ffffff;
        border-right: 1px dotted #d5d5d5;
        border-bottom: 1px dotted #d5d5d5;
        border-left: 1px dotted #d5d5d5;
    }

    h2#mainPosHeading {
        font-family: 'League Gothic Condensed', sans-serif;
        font-size: 32px;
        color: #076e9f;
        margin: 0 17px 0 0;

    }

    #centerInfoBlock {
        position: relative;
        background-color: #ffffff;
        margin-bottom: 0px;
    }

    #postMeta {
        left: 0;
        position: absolute;
        background-color: #ffffff;
        width: 112px;
    }

    #postText {
        position: absolute;
        left: 130px;
        font-family: " Arial", sans-serif;
        font-size: 10px;
        color: #696969;
        text-align: left;
        width: 270px;
        height: 100px;
        background-color: #FFFFFF;
    }

    #mainBtn {
        font-family: " Arial", sans-serif;
        font-weight: bold;
        font-size: 10px;
        color: #ffffff;
        width: 72px;
        height: 23px;
        background-color: #0773a4;
        border-radius: 0;
        margin-top: 15px;
        box-shadow: 0 4px 1px -1px #00141e;

    }

    #fotterPostMeta {
        position: absolute;
        right: -5px;
        bottom: 6px;
        width: 159px;
        margin-left: 849px;

    }

    #fotoMeta {
        width: 159px;
    }

    /*end center block*/
    #section2 {
        position: relative;
        background-color: pink;
        width: 100%;
        height: 567px;

    }

    #blockOne {

        background-color: #FFFFFF;
        width: 200px;
        height: 567px;
    }

    /*#centerBlock {*/
    /*position: absolute;*/
    /*background-color: deeppink;*/
    /*width: 278px;*/
    /*height: 577px;*/
    /*bottom: 0;*/
    /*left: 200px;*/
    /*z-index: 6;*/
    /*}*/
    #centerBlock {
        position: absolute;
        background-color: deeppink;

        height: 577px;
        bottom: 0;
        left: 200px;
        right: 35px;
        z-index: 6;
    }
    #blockNotice {
        z-index: 2;
        position: absolute;
        bottom: 0;
        width: inherit;
        padding-left: 15px;

    }

    .notice {
        margin-right: 10px;
        float: left;
        background: #ebebea;
        height: 43px;
        width: 120px;
        margin-top: 5px;
    }

    .noticeImg {
        height: 43px;
    }

    #posMainBanerFirst {
        top: 91px;
        position: absolute;
        width: 100%;
    }

    #posMainBanerSecond {
        top: 190px;
        position: absolute;
        width: 100%;
    }

    #main-content {
        position: relative;
        padding: 2px 0px 0px 0px;
        z-index: 1;
        background-color: #22aaec;
        width: 100%;
        height: 435px;

    }

    .imageMain {
        width: inherit;
        height: 435px;

    }
    #blocBar {
        z-index: 1;
        bottom: 0;
        position: absolute;
        height: 120px;
        width: inherit;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #mainBaner {

        width: 216px;
        height: 61px;
        background-color: rgba(255, 255, 255, 0.61);
        z-index: 1;
        margin: auto;

    }

    #mainBanerTwo {
        width: 500px;
        height: 30px;
        background-color: rgba(255, 255, 255, 0.61);
        z-index: 1;
        margin: auto;
    }

    p#nameMainBanerFirst {

        font-size: 50px;
        color: #076e9f;
        font-family: 'League Gothic';
    }

    p#nameMainBanerSecond {

        font-size: 19px;
        color: #076e9f;
        font-family: 'League Gothic';
    }

    /*left block*/
    #itemOne {

        height: 165px;
        background-color: #FFFFFF;
    }

    #itemTwo {

        height: 225px;
        background-color: #ffffff;
    }

    #itemThree {

        height: 177px;
        background-color: #ffffff;
    }

    .nameItem {
        font-family: 'League Gothic Condensed';
        color: #076e9f;
        width: 180px;
        padding: 19px 17px 0 0;
        margin: 0 0 0 15px;
        border-right: 1px dotted #d5d5d5;
        border-bottom: 1px dotted #d5d5d5;
    }

    .nameItem h2 {
        margin: 0;
        margin-bottom: 6px;

    }

    #sidebarDescription {
        text-align: left;
        color: #5c5c5c;
        font-size: 10px;
        font-family: Arial, sans-serif;
    }

    .letter {
        color: #076e9f;
        font-family: Arial, sans-serif;
        font-weight: bold;
    }

    .relatedPostImg {
        margin-top: 11px;
        width: 50px;
        height: 40px;
    }

    #post1 {
        position: relative;
        width: 164px;
    }

    #post2 {
        position: relative;
        width: 164px;
    }

    #post3 {
        position: relative;
        width: 164px;
    }

    .post1Name {

        font-family: Arial, sans-serif;
        font-weight: bold;
        font-size: 10px;
        color: #5c5c5c;
        position: absolute;
        right: 0;
    }

    .post1Name1 {
        position: absolute;
        top: 14px;
        right: 16px;
    }

    .comments {
        font-family: Arial, sans-serif;
        font-size: 10px;
        font-style: italic;
        color: #5c5c5c;;
        margin-left: 2px;
    }

    #post1Img {
        left: 0;
        position: absolute;
        width: 50px;
        height: 40px;
    }

    #post2Img {
        left: 0;
        position: absolute;
        width: 50px;
        height: 40px;
    }

    #post3Img {
        left: 0;
        position: absolute;
        width: 50px;
        height: 40px;
    }

    .tableInfo {
        border-collapse: collapse;
    }

    .tableInfo th {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 10px;
        background-color: #076e9f;
        color: #ffffff;
    }

    .cell {
        background-color: #c7e9fa;
        width: 40px;
        height: 19px;
        text-align: center;
        color: #5e9abe;
        font-family: Arial, sans-serif;
        font-size: 10px;
    }

    .cellBlue {
        background-color: #b1e1f8;
    }

    table, td, th {
        border: 1px solid #ffffff;
    }

    /*end left block*/
    /*#meinColumn {*/
    /*z-index: 4;*/
    /*margin-right: 37px;*/
    /*margin-top: -10px;*/
    /*height: 575px;*/
    /*width: 400px;*/
    /*background: green;*/
    /*}*/

}