/*navBar*/
body {
    background-color: #ffffff;
}
.navBar {
    background-color: #ffffff;
}

#header-nav {
    border-radius: 0;
    margin: 0;

}

.navigationMenu {
    text-align: center;
}

header {
    margin: 0;
}

#navbarBrand {
    width: 100%;
    position: relative;
    text-align: center;
    color: #076e9f;
    font-size: 32px;
    font-family: 'League Gothic';
}

.brandLetter {

    color: #22aaec;
}

.icon {
    right: 30px;
    position: absolute;
}

.buttMenu {
    padding-top: 3px;
    background-color: #ffffff;
    color: #9b9b9b;
    font-family: ' Arial', sans-serif;
    font-size: 10px;
    border-radius: 0;
    width: 63px;
    height: 21px;
}

.active {
    background-color: #0772a3;
    color: white;
}

/* end navBar*/
/*section 1*/
#main-content {
    position: relative;
    z-index: 1;
    background-color: #22aaec;
    padding: 2px 0px 0px 0px;
    height: 439px;
    width: 1020px;

}

#blocBar {
    z-index: 1;
    bottom: 0;
    position: absolute;
    height: 120px;
    width: 1020px;
    background-color: rgba(0, 0, 0, 0.5);
}

#d {
    z-index: 2;
    position: absolute;
    bottom: 0;
    width: inherit;
    padding-left: 46px;
    padding-bottom: 26px;
}
.notice {
    padding: 0;
    float: left;
    z-index: 3;
    margin-right: 46px;
    top: 0;
    height: 69px;
    width: 191px;
    background: #ebebea;
    border-top-left-radius: 50px 50px;
    border-bottom-left-radius: 50px 50px;
}

/*end section 1*/
/*start section 2*/

/*#sectionTwo{*/

/*height: 565px;*/
/*background-color: yellow;*/
/*}*/
#leftColumn {
    padding: 0 0 0 36px;
    background: red;
    height: 564px;
    width: 235px;
}

#meinColumn {
    z-index: 4;
    margin-right: 37px;
    margin-top: -10px;
    height: 575px;
    width: 748px;
    background: green;
    padding: 0;
}

#leftColumnFirst {
    height: 172px;
    width: auto;
    background: palevioletred;
    margin: 0;
}

#leftColumnSecond {
    height: 222px;
    width: auto;
    background: palegreen;
}

#meinColumn1 {
    height: 199px;
    width: auto;
    background: #109796;
    margin: 0;
}

#meinColumn2 {
    height: 375px;
    width: auto;
    background: #0c1c97;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
}

.infoBlock {
    background-color: pink;
    margin-left: 20px;
    width: 362px;
    height: 213px;
}

#baner {
    background-color: black;
    height: 83px;
}

/*end section 2*/
@media (min-width: 1200px) {
    #main-content {
        position: relative;
        padding: 2px 0px 0px 0px;
        z-index: 1;
        background-color: #22aaec;
        width: 100%;
        height: 570px;
        text-align: center;
    }

    .imageMain {
        width: 1326px;
        height: 566px;
        background-image: url("../images/main-img2x.png");
    }

    #blocBar {
        bottom: 0;
        position: absolute;
        height: 120px;
        width: inherit;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #navbarBrand {
        font-size: 64px;
        font-family: 'League Gothic';
    }

    .buttMenu {
        font-size: 15px;
        width: 90px;
        height: 30px;
    }

    .noticeImg {
        height: 69px;
    }

    .notice {
        text-align: left;
        background: #ebebea;
        height: 69px;
        width: 191px;
    }

    #meinColumn {
        z-index: 4;
        margin-right: 37px;
        margin-top: -10px;
        height: 575px;
        width: 1077px;
        background: green;
    }
}

@media (min-width: 992px)and (max-width: 1124px) {
    #main-content {
        position: relative;
        padding: 2px 0px 0px 0px;
        z-index: 1;
        background-color: #22aaec;
        width: 100%;
        height: 515px;

    }

    .imageMain {
        width: 1199px;
        height: 511px;
        background-image: url("../images/main-img1_5.png");
    }

    #blocBar {
        bottom: 0;
        position: absolute;
        height: 120px;
        width: 1199px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #meinColumn {
        z-index: 4;
        margin-right: 37px;
        margin-top: -10px;
        height: 575px;
        width: 836px;
        background: green;
    }
}

@media (min-width: 992px)and (max-width: 1199px) {
    #main-content {
        position: relative;
        padding: 2px 0px 0px 0px;
        z-index: 1;
        background-color: #22aaec;
        width: 100%;
        height: 515px;

    }

    .imageMain {
        width: 1199px;
        height: 511px;
        background-image: url("../images/main-img1_5.png");
    }

    #blocBar {
        bottom: 0;
        position: absolute;
        height: 120px;
        width: 1199px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #meinColumn {
        z-index: 4;
        margin-right: 37px;
        margin-top: -10px;
        height: 575px;
        width: 700px;
        background: green;
    }

}

@media (min-width: 768px)and (max-width: 991px) {
    .notice {
        height: 40px;
        width: 150px;
    }

    .noticeImg {
        height: 40px;
    }

    #meinColumn {
        z-index: 4;
        margin-right: 37px;
        margin-top: -10px;
        height: 575px;
        width: 660px;
        background: green;
    }
}

@media (max-width: 767px) {
    .notice {
        background: #ebebea;
        height: 40px;
        width: 120px;
    }

    .noticeImg {
        height: 40px;
    }

    #meinColumn {
        z-index: 4;
        margin-right: 37px;
        margin-top: -10px;
        height: 575px;
        width: 400px;
        background: green;
    }

}